script(src="js/jquery.min.js" type='text/javascript' )
script(src="js/bootstrap.min.js" type='text/javascript' )
script(src="js/angular.min.js" type='text/javascript' )
script(src="js/angular-animate.min.js" type='text/javascript')
script(src="js/angular-aria.min.js" type='text/javascript')
script(src="js/angular-messages.min.js" type='text/javascript')
script(src="js/angular-material.min.js" type='text/javascript')
script(src="js/angular-ui-router.js" type='text/javascript')
script(src="js/ng-page-title.min.js" type='text/javascript')
script(src="js/angular/app.js" type='text/javascript' )
