doctype html
html(lang="en" ng-app="userpage")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		include _cssimport
		include _jsimport
		title(state-title)
body
	include _header
