@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular")
  , url(/fonts/material.eot) format("eot")
  , url(/fonts/material.woff2) format("woff2")
  , url(/fonts/material.woff) format("woff")
  , url(/fonts/material.ttf) format("ttf");
}
